﻿@model ErrorViewModel
@{ 
    ViewData["Title"] = "Error";
}

<h1 align="center">Oops</h1>
<div>
    <p align="center">@ViewBag.ErrorCode</p>
</div>
<p align="center">@ViewBag.ErrorMessage</p>